html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: #dbd6cf;
  font-family: Bevan;
  line-height: .75;
  text-align: center;
  border-color: #f33;
}

.buttons {
  margin: .0em;
  padding: .0em;
  list-style-type: none;
  background-color: #79756f;
  border-color: #595652;
}

body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #79756f;
  border-color: #595652;
}

.buttons li {
  display: inline-block;
  margin: 0 .3em 1em;
  max-width: 10em;
  padding: .75em;
  background-color: #713837;
  border-radius: 10px;
  text-align: left;
  color: #fff;
  font-family: sans-serif;
}

h1 {
  color: #fff;
  font-size: 2rem;
}
